* {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#checkbox {
  display: none;
}
.hamburger {
  position: relative;
  padding: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.line {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  border-radius: 3px;
  transition: transform .25s, opacity .35s;
}
.line--top {
  transform: translateY(-7px);
}
.line--bottom {
  transform: translateY(7px);
}
#checkbox:checked~.line--top {
  transform: rotate(45deg);
}
#checkbox:checked~.line--middle {
  transform: translateX(16px);
  opacity: 0;
}
#checkbox:checked~.line--bottom {
  transform: rotate(-45deg);
}

